
.container{
    width: 1143px;
    padding: 0 15px;
    margin: 0 auto;
}




.nav-header-list-li-p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
cursor: pointer;

color: #ffffff;


}



.nav-header-list-li-p:after{
    
}

.nav-header-list{
    display: flex;
    justify-content: center;
    gap: 39px;
    position: absolute;
    left: 920px;
    margin-top: 40px;

   
}

.hero{
    width: 1920px;
    height: 900px;
    padding-top: 250px;
    background-image: url(main_background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}


.hero-p{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #ffffff;
margin-bottom: 20px;


}

.hero-h1{

font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 64px;
text-align: center;

color: #ffffff;


}

.hero-button{


background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;
margin-top: 50px;




font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #ffffff;
width: 200px;
height: 45px;
 margin: 50px auto 0;
    display: block;


}




.mobile_app{
    padding-top: 110px;
    padding-bottom: 105px;
}

.mbp_app_heading{

margin: 0 auto ;
width: 739px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
text-align: center;

color: #323232;
margin-bottom: 32px;


}

.mbp_app_text{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;

color: #999999;
width: 730px;
margin: 0 auto;
margin-bottom: 70px;


}

.services_text{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #999999;
width: 222px;


}

.services_title{
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;



}

.services{
    display: flex;
    justify-content: center;
    gap: 27px;
}


.main_header_develope{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;

color: #323232;
margin-bottom: 63px;


}

.p_develope_standart{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;

color: #999999;
margin-bottom: 42px;


}

.link_details_company{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-decoration-line: underline;


color: #4985FF;


}

.picture_develope_standarts{
    width: 400px;
    height: 300px;
    margin-left: auto;
    position: absolute;
    left: 1215px;
    top: 100px;
}

.develope_standarts{
    background-color: rgba(246, 246, 248, 1);
    padding-top: 149px;
    width: 1920px;
    position: relative;
    height: 650px;
}

.list_our_project{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
}

.list_li_project{
    gap: 15px;
    width: 230px;
    height: 230px;

}


.p_number_developes{


font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;

color: #000000;


}

.list_standart_develop{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;


color: #999999;


}


.our_services{
    padding-top: 100px;
    width: 1920px;
    height: 900px;
    position: relative;
}

.header_our_services{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;

color: #e6e2e2;
margin-bottom: 76px;


}


.button_mbp_app{
   


background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;



font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
border-color: #4985FF;
text-align: center;
width: 200px;
height: 45px;
   display: block;
    margin: 0 auto;
    margin-top: 50px;
color: #FFFFFF;


}

.button_our_services{
width: 200px;
height: 45px;
   position: absolute;
   left: 1315px;
   top: 110px;





font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
background-color: cornflowerblue;
border-radius: 15px;
border-color: #FFFFFF;

color: #FFFFFF;


}


.list_our_services{
    display: flex;
    justify-content: center;
    gap: 30px;
}


 .picture_list_services{
    width: 350px;
    height: 300px;
 }


 .researching_services{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;


margin-top: 30px;
margin-bottom: 30px;





 }

 .main_text_services{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;


color: #999999;
margin-bottom: 47px;


 }

 .link_details{


font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;

text-decoration-line: underline;
padding-bottom:10px ;


color: #4985FF;



 }


 .our_project_h2{
    padding-top: 170px;
 }

 .our_services{
    
  background: linear-gradient(to bottom,rgb(58, 2, 189) 50%,white 50%);
}
 

.our_project_h2{
   
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
text-align: center;

color: #000000;
margin-bottom: 28px;


}


.p_our_project{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;
margin-bottom: 39px;
color: #999999;


}

.list_our_project{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.img_project{
    width: 255px;
    height: 255px;
}

.our_projects{
    background-color: rgb(248, 247, 247);
    width: 1920px;
    height: 776px;
}

.button_all_projects{




background: #4985FF;
box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
border-radius: 30px;




font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
width: 200px;
height: 45px;

color: #FFFFFF;
border-color: #4985FF ;
position: absolute;
left: 860px;




}


.about_work_section{
    background-image: url(our_work.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 570px;
}

.h2_about_work{

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
text-align: center;
padding-top: 70px;
margin-bottom: 30px;

color: #FFFFFF;


}

.title2_video{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;

color: #FFFFFF;


}


.video_work_section{
    width: 937px;
    height: 430px;
    margin-top: 70px;
}

.center{
    display: inline;
    justify-content: center;
}

.h2_connection{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #000000;


}

.connection{
    padding-top: 200px;
}

.p_connection{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;


color: #999999;
margin-top: 20px;


}

.div_subscribe {
    display: flex;
    justify-content: center;
    width: 420px;
    position: absolute;
    left: 730px;
    height: 48px;
}

.div_subscribe input {
    flex: 1;
    text-align: center;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-right: none;
    outline: none;
    font-size: 14px;
    border-radius: 6px 0 0 6px;
}

.div_subscribe input::placeholder {
    color: #999;
}

.div_subscribe  .follow {
    padding: 0 24px;
    border: none;
    background: #1757b6;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    transition: color 0.3s;
}

.div_subscribe  .follow:hover {
    background: #a7a5a5;
}


.p2_connection{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
text-align: center;
margin-bottom: 40px;

color: #999999;


}

.site-footer{
    width: 1920px;
    height: 400px;
    background-color: rgba(246, 246, 248, 1);
    padding-top: 70px;

}

.site-footer__columns{
    display: flex;
    justify-content: center;
    gap: 40px;

    
}

.site-footer-column-title{

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;


}


.footercollumin{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.footeropyright{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 21px;
text-align: center;
margin-top: 30px;
color: #999999;


}