
.container{
    width: 1143px;
    padding: 0 15px;
    margin: 0 auto;
}

.video{
    background-image: url(video.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.mobile_app{
    padding-top: 110px;
    padding-bottom: 105px;
}

.mbp_app_heading{

margin: 0 auto ;
width: 739px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 53px;
text-align: center;

color: #323232;
margin-bottom: 32px;


}

.mbp_app_text{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 25px;
text-align: center;

color: #999999;
width: 730px;
margin: 0 auto;
margin-bottom: 70px;


}

.services_text{

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 22px;

color: #999999;
width: 222px;


}

.services_title{
 
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;

color: #000000;



}

.services{
    display: flex;
    justify-content: center;
    gap: 27px;
}